.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1040;
}

.modal-dialog {
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60% !important;
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	z-index: 1050;
	display: flex;
	flex-direction: column;
}

.status1  h3 {
	color: black;
	font-size: 20px;
	margin-top: 5px;
}

.leave-request-status1 h3 {
	color: black;
	font-size: 20px;
	margin-top: 5px;
}

.modal-header h2 {
	color: black;
	font-size: 20px;
	margin-top: 5px;
}

.viewtabletd td {
	color: black !important;
}

.modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.modal-title {
	font-size: 20px;
}

.modal-body {
	flex: 1;
	overflow-y: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

.close-button {
	border: none;
	font-size: 20px;
	cursor: pointer;
	width: 40px;
	color: 3572EF !important;
}

.close-button:hover {
	color: darkred;
}