.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1040;
}

.modal-dialog {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60% !important;
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	z-index: 1050;
	display: flex;
	flex-direction: column;
	max-height: 80%;
	overflow: hidden;
}

.status1 h3, .leave-request-status1 h3, .modal-header h2 {
	color: black;
	font-size: 20px;
	margin-top: 5px;
}

.viewtabletd td {
	color: black !important;
}

.modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.modal-title {
	font-size: 20px;
}

.modal-body {
	flex: 1;
	overflow-y: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	max-height: calc(80vh - 50px); 
}

.close-button {
	border: none;
	font-size: 20px;
	cursor: pointer;
	width: 40px;
	color: 3572EF !important;
}

.close-button:hover {
	color: darkred;
}

.table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 10px;
}

.table th, .table td {
	border: 1px solid #e5e5e5;
	padding: 8px;
	text-align: left;
}

.table th {
	background-color:#007bff;;
}

.table tbody tr:nth-child(even) {
	background-color: #f9f9f9;
}

.table tbody tr:hover {
	background-color: #f1f1f1;
}
